<div class="container">
    <div class="row footer">

        <div class="col-2">
        <a href="https://www.facebook.com/"><img src="assets/img/fb.png" class="socialemedia img-fluid" alt="Responsive image;"></a>
        </div>

        <div class="col-2">
        <a href="https://twitter.com/?lang=nl"><img src="assets/img/twitter.png" class="socialemedia img-fluid" alt="Responsive image;"></a>
        </div>
        
        <div class="col-2">
        <a href="contact.html"><img src="assets/img/contact.png" class="socialemedia img-fluid" alt="Responsive image;"></a>  
        </div>

        <div class="col-6">
            <p class="footertext">
                © Concentrate<br>
                industrieweg 222<br>
                9000 Mariakerke
            </p>
        </div>
        
    </div>
</div>
