@import
"bootstrap-variables",                  // See _bootstrap-variables.scss
"../_vendor/bootstrap/scss/bootstrap";  // See _vendor/bootstrap/scss/bootstrap.scss

.icoon {
    width: 70%;
    margin-top: 5%; 
  }
  
#iframe {
  width: 100%;
}
  
.space {
  margin-bottom: 18%;
  margin-top: 10%;
}