@import
"bootstrap-variables",                  // See _bootstrap-variables.scss
"../_vendor/bootstrap/scss/bootstrap";  // See _vendor/bootstrap/scss/bootstrap.scss

.icoon {
  width: 70%;
  margin-top: 5%; 
}
  
#iframe {
  width: 100%;
}

@media screen and (min-width: 992px) {
  .down {
    margin-top: 1%
  }

  .icoon {
    width: 30%;
    margin-top: 5%; 
  }
}