@import
"bootstrap-variables",                  // See _bootstrap-variables.scss
"../_vendor/bootstrap/scss/bootstrap";  // See _vendor/bootstrap/scss/bootstrap.scss

// ALGEMEEN

.balk {
  margin-top: 5%;
  margin-bottom: 15%;
}

@media screen and (min-width: 992px) {
  .balk {
    margin-top: 0%;
    margin-bottom: 10%;
    width: 60%;
    text-align: center; 
  }
}

.formbutton {
  margin-top: 8%;
}


//GEGEVENS

.form {
  font-size: $formsize;
  margin-bottom: 5%;
}

@media screen and (min-width: 992px) {
  .form {
    font-size: $formsize;
    margin-bottom: 2%;
  }
}

label {
  font-size: $regsize;
}


//BESTELLING

.ruimte {
  margin-top: 8%;
}

@media screen and (min-width: 992px) {
  .productsold {
    width: 55%;
  }
}

//BETALING

.bottomtop {
  padding-bottom: 5%;
  padding-top: 5%;
}

.custom-control-indicator, .custom-control-description {
  border-bottom: none;
}

@media screen and (min-width: 768px) {
  .low {
    margin-bottom: 60%;
  }
}

@media screen and (min-width: 992px) {
  .card {
    width: 50%;
  }

  .bottomtop {
    padding-bottom: 10%;
    padding-top: 2%;
  }

  .low {
    margin-bottom: 40%;
  }
}


// BEDANKING 

.tandwiel {
  width: 30%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.bedanking {
  color: $second;
  margin-bottom: 0%; 
}

.top {
  margin-top: 15%;
}
