@import
"bootstrap-variables",                  // See _bootstrap-variables.scss
"../_vendor/bootstrap/scss/bootstrap";  // See _vendor/bootstrap/scss/bootstrap.scss

.jumbotron-fluid {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: white;
    margin-bottom: 10%;
}

.frontklein {
    display: block; 
}

.frontmiddel {
    display: none;
}

.frontgroot {
    display: none; 
}

.knop {
    margin-top: -45%;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.yellow {
    background-color: $primary;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 5%;
}

@media screen and (min-width: 768px) {
    .knop2 {
        margin-top: -50%;
   } 

   .frontklein {
        display: none; 
    } 

    .frontmiddel {
        display: block;
    }

   .frontgroot {
        display: none; 
    }
}

@media screen and (min-width: 992px) {
    .knop2 {
        margin-top: -40%;
   }

   .frontklein {
        display: none; 
    }

    .frontmiddel {
        display: none;
    }

   .frontgroot {
        display: block; 
    }
}

