@import
  "bootstrap-variables",                  // See _bootstrap-variables.scss
  "../_vendor/bootstrap/scss/bootstrap",  // See _vendor/bootstrap/scss/bootstrap.scss
  "nav",
  "index",
  "concentrate",
  "overons",
  "contact",
  "faqvoor",
  "gegevens", 
  "footer";


// ALGEMEEN

.container {
  padding-left: 6%;
  padding-right: 6%;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.space {
  margin-bottom: 15%;
  margin-top: 8%;
}

@media screen and (min-width: 992px) {
  .container {
    margin-top: 5%;
  }
}


// TEXT

p, ol {
  font-size: $regsize;
}

form {
  font-size: $formsize;
}

h1,{
  font-size: $h1size;
  font-family: $secondfont;
  margin-top: 10%; 
  margin-bottom: 15%;
  text-align: center;
}

h2{
  font-size: $h2size;
  font-family: $regfont;
  text-transform: $h2uppercase; 
  margin-top: 3%;
  margin-bottom: 3%;
}

h3 {
  font-size: $h3size;
  font-family: $regfont;
  background-color: $primary;
  color: $second; 
  margin-top: 3%;
  border-radius: 24px;
  padding-top: 3%; 
  padding-bottom: 3%;
  padding-left: 3%;
  padding-right: 3%; 
}

h3:active, h3:hover{
  background-color: $btncolor;
}

h4 {
  font-size: $h4size;
  font-family: $secondfont;
  padding-bottom: 15%;
  text-align: center;
}

h5 {
  font-size: $h5size;
  font-family: $secondfont;
  margin-top: 10%; 

}

.slogan {
  color: $second; 
  margin-top: 5%;
  margin-bottom: 5%;
}

span {
  border-bottom: solid;
  border-bottom-color: $primary;
  padding-bottom: 1.5%; 
}

@media screen and (min-width: 768px) {
  p, label, ol{
    font-size: $regsizetablet;
  }

  h1 {
    font-size: $h1sizetablet;
  }

  h2 {
    font-size: $h2sizetablet;
  }

  h3 {
    font-size: $h3sizetablet;
    border-radius: 30px;
  }

  h4 {
    font-size: $h4sizetablet;
  }

  h5 {
    font-size: $h5sizetablet;
  }

  .form {
    font-size: $formsizetablet;
  }
}

@media screen and (min-width: 992px) {
  p, label, ol {
    font-size: $regsizedesktop;
  }

  h1, {
    font-size: $h1sizedesktop;
    margin-top: 5%; 
    margin-bottom: 0%;
  }

  h2 {
    font-size: $h2sizedesktop;
  }

  h3 {
    font-size: $h3sizedesktop;
    padding-top: 2%; 
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%; 
  }

  h4 {
    font-size: $h4sizedesktop;
    padding-bottom: 5%;
  }

  h5 {
    font-size: $h5sizedesktop;
    margin-top: 5%;
  }

  .form {
    font-size: $formsizedesktop;
  }
}


// BUTTONS

.btn {
  font-family: $regfont;
  color: $second;
  background-color: $btncolor;
  border-radius: 24px;
  text-transform: $btnuppercase;
}

a:hover {
  text-decoration: none;
}

.btntop {
  margin-top: 10%;
}

.btnbottom {
  margin-bottom: 10%;
}

.btn-sm {
  display: block; 
}

.btn-lg {
  display: none; 
}

.btnhome {
  margin-top: 30%;
}

.btnhome2 {
  margin-top: 70%;
}

.btn:hover{
  -webkit-transform: scale(1.3);
  background: $primary; 
}


@media screen and (min-width: 768px) {
  .btn-sm {
    display: none; 
  }

  .btn-lg {
    display: block; 
  }

  .btn-lg-tablet {
    text-align: center;
  }
}


