@import
"bootstrap-variables",                  // See _bootstrap-variables.scss
"../_vendor/bootstrap/scss/bootstrap";  // See _vendor/bootstrap/scss/bootstrap.scss


.extra {
    font-size: 8px; 
    text-align: center;
    margin-bottom: 0%;
    margin-top: 15%;
}

.graf {
    margin-top: 10%;
} 

@media screen and (min-width: 768px) {
    .extra {
        font-size: 12px; 
    }
}